.table-controls {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 20px;
  gap: 15px;
}

.search-container {
  position: relative;
  display: flex;
  align-items: center;
}

.search-icon {
  position: absolute;
  left: 10px;
  font-size: 16px;
  color: #aaa;
}

.search-input {
  padding: 8px 8px 8px 30px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 12px; /* Rounded borders */
  width: 200px;
}

.add-button {
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 12px; /* Rounded borders */
  padding: 10px 35px;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
}

.add-button:hover {
  background-color: darkgreen;
}

.add-button .fa-plus {
  margin-right: 15px; /* Space between icon and text */
}

.admin-table {
  padding: 2rem;
  background-color: #f0f0f0;
  border-radius: 12px; /* Rounded borders */
}

.edit-button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 12px; /* Rounded borders */
  padding: 4px 12px;
  cursor: pointer;
  font-size: 16px;
  margin-right: 5px;
}

.edit-button:hover {
  background-color: #0056b3;
}

.delete-button {
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 12px; /* Rounded borders */
  padding: 8px 16px;
  cursor: pointer;
  font-size: 16px;
}

.delete-button:hover {
  background-color: #c82333;
}

.table-wrapper {
  overflow-x: auto; /* Enable horizontal scrolling */
  margin-bottom: 20px; /* Optional: add some spacing at the bottom */
}

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 10px; /* Adding border-radius to the table */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: adding shadow for effect */
  min-width: 800px; /* Set a minimum width to enable scrolling */
}
