/* General styling for the ProductsPage */
.admin-dashboard {
  display: flex;
  height: 100vh;
  position: relative; /* Ensure main section can expand to the left */
}

.admin-sidebar {
  width: 270px;
  background-color: #009844; /* Sidebar color */
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

/* Fixed hamburger button in the top-left corner */
.hamburger-button {
  position: fixed;
  top: 4.9rem;
  left: 2rem;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  z-index: 1000; /* High z-index to stay on top of sidebar */
  color: white; /* Optional: color to match the sidebar */
  background-color: #009844;
  border-radius: 6px;
}

.main-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.admin-header {
  background-color: white;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
