body {
  margin: 100%;
  font-family: Arial, sans-serif;
  background-color: #cecbcb;
}

.admin-dashboard {
  display: flex;
  height: 100vh;
}

.main-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.admin-header {
  padding: 1rem;
  background-color: #f0f0f0;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
}

.admin-table {
  flex: 1;
  padding: 1rem;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  overflow: auto;
}